@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Montserrat:wght@100..900&family=Rozha+One&display=swap');

@import "tailwindcss";

@theme {
    --color-white-100: #F3F1F0;
    --color-tan-100: #EDDDCE;
    --color-pink-100: #D47DA0;
    --color-yellow-100: #F0C864;
    --color-green-100: #787D32;
    --color-brown-100: #4A4037;
    --font-sans: "Montserrat" , sans-serif;
    --font-serif: "Eczar", serif;
    --font-roza: "Rozha One", serif;
}

html, body {
    width: 100%;
    background-color: var(--color-white-100);
        color: var(--color-brown-100);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility flex-column {
    @apply flex flex-col items-center;
}

@layer components {
    main {
        @apply w-full overflow-x-hidden;
    }

    nav{
        @apply fixed z-50 w-full;

        div {
            /*@apply container mx-auto px-5 lg:px-0 py-5*/
            /*flex flex-col md:flex-row items-center justify-between gap-5;*/
            @apply container mx-auto px-5 lg:px-0 py-5 flex flex-col items-center gap-5;
        }

        li {
            @apply cursor-pointer shrink-0 hover:text-pink-100 transition-colors;
        }

        img {
            @apply w-39 md:w-45 lg:w-60;
        }

        ul {
            @apply flex-center flex-col md:flex-row gap-7 lg:gap-25 whitespace-nowrap text-nowrap font-roza text-xl md:text-2xl;
        }

    }

}
/* Utilities for layout under fixed navbar */
:root {
    --nav-height: 96px;
}

@media (min-width: 768px) {
    :root {
        --nav-height: 112px;
    }
}